html, body {
    height: 100%;
}

body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background: #ffffff;
    margin: 0px;
}

p {
    margin: 0px;
}

h1 {
    font-size: 22px;
}

#root {
    height: 100vh;
    width: 100vw;
}

.App {
    margin: 0px;
    padding: 0px;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
}

.calendar {
    margin-top: 60px;
    width: 97vw;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.day {
    min-height: 500px;
    width: 10.8vw;
    margin: 0.5vw;
    padding: 12px;   
    background: rgb(236, 236, 236);
    color: black;
    border-radius: 15px;
}

.day-title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.input-form {
    display: flex;
    margin-bottom: 30px;
}

.text-input {
    width: calc(100% - 50px);
    border: 0px;
    padding: 0px;
    border-bottom: 0.5px solid black;
    outline: none;
    background: rgb(236, 236, 236);
}

.add-item-btn {
    height: 32px;
    width: 32px;
    margin-left: 13px;
    font-size: 18px;
    border-radius: 100%;
    border: 0px;
    background: rgb(218, 202, 255);
    box-shadow: 3px 5px 8px #b3b3b3;
    transition: 0.3s;
}

.add-item-btn:hover {
    background: rgb(208, 187, 255);
}

.task-list {
    margin-top: 14px;
}

.task-container {
    display: flex;
    width: 100%;
    padding: 0px;
    min-height: 25px;
    margin-top: 5px;
    margin-bottom: 13px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 3px 5px 8px #d3d3d3;
    position: relative;
    top: 0;
    transition: ease-in 0.1s;
}

.task-container:hover {
    top: -4px;
    box-shadow: 4px 6px 8px #d3d3d3;
}

.task-text-container {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: calc(100% - 24px);
    font-size: 12px;
    overflow: hidden;
    overflow-wrap: break-word;
    hyphens: auto;
}

.task-checked {
    background: rgb(206, 206, 206);
    text-decoration: line-through;
}

.clear-button {
    width: 24px;
    color: black;
    background: rgb(255, 141, 141);
    border: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;
    transition: 0.3s;
}

.clear-button:hover {
    background: rgb(255, 181, 181);
}